In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('filter').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('sample.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|sourav| 31|        10| 30000|
| sunil| 30|         8| 25000|
| soyel| 29|         4| 20000|
|souvik| 24|         3| 20000|
|apurba| 21|         1| 15000|
|    pk| 23|         2| 18000|
+------+---+----------+------+

In [5]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| soyel| 29|         4| 20000|
|souvik| 24|         3| 20000|
|apurba| 21|         1| 15000|
|    pk| 23|         2| 18000|
+------+---+----------+------+

In [6]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
| soyel| 29|
|souvik| 24|
|apurba| 21|
|    pk| 23|
+------+---+

salary less than 20000

In [7]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| soyel| 29|         4| 20000|
|souvik| 24|         3| 20000|
|apurba| 21|         1| 15000|
|    pk| 23|         2| 18000|
+------+---+----------+------+

salary between 20000 and 15000

In [8]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|sourav| 31|        10| 30000|
| sunil| 30|         8| 25000|
| soyel| 29|         4| 20000|
|souvik| 24|         3| 20000|
|apurba| 21|         1| 15000|
|    pk| 23|         2| 18000|
+------+---+----------+------+

salary greater than 20000

In [9]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|sourav| 31|        10| 30000|
| sunil| 30|         8| 25000|
+------+---+----------+------+