In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [38]:

df_pyspark=spark.read.csv('sample3.csv',header=True,inferSchema=True)

In [39]:
df_pyspark.show()

+------+---+----------+------+----------------+
|  Name|age|Experience|Salary|     Departments|
+------+---+----------+------+----------------+
|sourav| 31|        10| 30000|    Data Science|
| sunil| 30|         8| 25000|             IOt|
| soyel| 29|         4| 20000|Machine learning|
|souvik| 24|         3| 20000|        Big data|
|apurba| 21|         1| 15000|Machine learning|
|    pk| 23|         2| 18000|    Data Science|
|sourav| 31|        10| 80000|          Devops|
| soyel| 29|         4| 60000|Machine learning|
|apurba| 21|         1| 35000|          Devops|
+------+---+----------+------+----------------+

In [40]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Departments: string (nullable = true)

totol salary of each

In [41]:
## Groupby
### Grouped to find the maximum (sum)salary
df_pyspark.groupBy('Name').sum().show()

+------+--------+---------------+-----------+
|  Name|sum(age)|sum(Experience)|sum(Salary)|
+------+--------+---------------+-----------+
|apurba|      42|              2|      50000|
| soyel|      58|              8|      80000|
| sunil|      30|              8|      25000|
|    pk|      23|              2|      18000|
|sourav|      62|             20|     110000|
|souvik|      24|              3|      20000|
+------+--------+---------------+-----------+

average_salary of each

In [42]:
df_pyspark.groupBy('Name').avg().show()

+------+--------+---------------+-----------+
|  Name|avg(age)|avg(Experience)|avg(Salary)|
+------+--------+---------------+-----------+
|apurba|    21.0|            1.0|    25000.0|
| soyel|    29.0|            4.0|    40000.0|
| sunil|    30.0|            8.0|    25000.0|
|    pk|    23.0|            2.0|    18000.0|
|sourav|    31.0|           10.0|    55000.0|
|souvik|    24.0|            3.0|    20000.0|
+------+--------+---------------+-----------+

In [43]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+----------------+--------+---------------+-----------+
|     Departments|sum(age)|sum(Experience)|sum(Salary)|
+----------------+--------+---------------+-----------+
|             IOt|      30|              8|      25000|
|          Devops|      52|             11|     115000|
|Machine learning|      79|              9|      95000|
|    Data Science|      54|             12|      48000|
|        Big data|      24|              3|      20000|
+----------------+--------+---------------+-----------+

In [44]:
df_pyspark.groupBy('Departments').mean().show()

+----------------+------------------+---------------+------------------+
|     Departments|          avg(age)|avg(Experience)|       avg(Salary)|
+----------------+------------------+---------------+------------------+
|             IOt|              30.0|            8.0|           25000.0|
|          Devops|              26.0|            5.5|           57500.0|
|Machine learning|26.333333333333332|            3.0|31666.666666666668|
|    Data Science|              27.0|            6.0|           24000.0|
|        Big data|              24.0|            3.0|           20000.0|
+----------------+------------------+---------------+------------------+

In [45]:
df_pyspark.groupBy('Departments').count().show()

+----------------+-----+
|     Departments|count|
+----------------+-----+
|             IOt|    1|
|          Devops|    2|
|Machine learning|    3|
|    Data Science|    2|
|        Big data|    1|
+----------------+-----+

In [46]:

df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     303000|
+-----------+